<div class="burger-container">
  <div class="header">
    <h1 style= "color: white; font-family:cursive; font-size:40pt">It's Burger Time..nom nom nom!!</h1>
  </div>
  <form action="submit" class="burger-form" id="add-burger-form">
    <input type="text" required name="name" placeholder="burger name" style="font-family:cursive">
    <button type="submit">Add a Burger</button>
    <br/>
    <br/>
    <a href="/" style="color:white; font-family:cursive;">Click here to see all the burgers!</a>
  </form>
  <div>
    <div class="table">
      <div>
        <h3 style="color:white; font-family:cursive; font-size:30pt">Ready to eat!</h3>
        <div id="readyBurgers">
          {{#each readyBurgers}}
          <div class="burger-div">
            <div class="name-div">
              <span class="burger-name">
                {{burger_name}}
              </span>
            </div>
            <div class="devour-div">
              <button class="devour-btn" data-name={{burger_name}} data-id={{id}} data-devoured="0">
                Devour!
              </button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="margin">
        <img src="/assets/images/burger.jpg" alt="burger">
      </div>
      <div>
        <h3 style="color:white; font-family:cursive; font-size:30pt">Devoured!</h3>
        <div id="devouredBurgers">
          {{#each devouredBurgers}}
          <div class="burger-div">
            <div class="name-div">
              <span class="burger-name">
                {{burger_name}}
              </span>
            </div>
            <div class="devour-div">
              <button class="devour-btn" data-name={{burger_name}} data-id={{id}} data-devoured="0">
                Devour!
              </button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>